@use './../../Styles/media-query' as *;
@use './../../Styles/variables' as *;

.book {

    transition: 0.3s;

    &__container {

        @include phase4-desktop {
            width: 19%;
            margin: 3px;
        }

        @include phase3-desktop {
            width: 24%;
            margin: 2px;
        }
        
        @include phase2-tablet {
            width: 32%;
            margin: 1.5px;
        }

        @include phase1-tablet {
            width: 49%;
            margin: 0.5px;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        height: auto;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        object-fit: contain;
        width: 250px;
        max-height: 353px;
        background-color:  $color-palette-3;

    }

    &__caption {
        color: $color-palette-words;
        overflow: hidden;
        text-align: center;
        line-height: 15px;
        font-weight: 700;
        padding: 3px;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        background: $color-palette-3;

    }
}