$phase1-tablet: 500px;
$phase2-tablet: 772px;
$phase3-desktop: 979px;
$phase4-desktop: 980px;
$phase5-desktop: 1200px;

@mixin phase1-tablet {
  @media screen and (max-width: $phase1-tablet) {
    @content;
  }
}

@mixin phase2-tablet {
  @media screen and (max-width: $phase2-tablet) {
    @content;
  }
}

@mixin phase3-desktop {
  @media screen and (max-width: $phase3-desktop) {
    @content;
  }
}
  
@mixin phase4-desktop {
    @media screen and (min-width: $phase4-desktop) {
        @content;
    }
}

@mixin phase5-desktop {
  @media screen and (min-width: $phase5-desktop) {
    @content;
  }
}