/* $color-palette-1: #231F20;
$color-palette-2: #BB4430; 
$color-palette-3: #7EBDC2;
$color-palette-4: #F3DFA2;
$color-palette-5: #EFE6DD;
 */
$color-palette-1: #0d0d0d;
$color-palette-2: #1f1f1f; 
$color-palette-3: #404040;
$color-palette-4: #D9D9D9;
$color-palette-5: #EFE6DD;