/* $color-palette-1: #231F20;
$color-palette-2: #BB4430; 
$color-palette-3: #7EBDC2;
$color-palette-4: #F3DFA2;
$color-palette-5: #EFE6DD;
 */
$color-palette-1: #041C32;
$color-palette-2: #04293A; 
$color-palette-3: #064663;
$color-palette-4: #ECB365;

$color-palette-words: #F0F0F0;
$color-palette-special: #ECB365;
